<%= form_with(model: house, local: true) do |form| %>
  <%= render "layouts/validation", item: @house %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :address %>
  <%= form.text_field :address, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :longitude %>
  <%= form.number_field :longitude, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :latitude %>
  <%= form.number_field :latitude, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :price, "Total Price (for sale) / Monthly Price (rental)" %>
  <%= form.number_field :price, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :rooms %>
  <%= form.number_field :rooms, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :bathrooms %>
  <%= form.number_field :bathrooms, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :parking_spaces %>
  <%= form.number_field :parking_spaces, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :for_sale %>
  <%= form.select :for_sale, options_for_select({"Yes" => true, "No" => false }, @house.for_sale), class: "form-control" %>
</div>
<br/>

<div class="form-group text-white">
  <%= opts = @house.for_sale? ? { "Sold" => "sold", "Available" => "available" } : { "Leased" => "leased", "Available" => "available" } %>
  <br /><%= form.label :status, class:"text-black" %>
  
  <%= form.select :status, options_for_select(opts, @house.status), class: "form-control" %>
</div>
<br/>

  <div class="form-group">
  <%= form.label :available_date %>
  <%= form.date_field :available_date, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :details %>
  <%= form.text_field :details, class: "form-control" %>
</div>
<br/>

<div class="form-group">
  <%= form.label :photo %>
  <%= form.file_field :photo, class: "form-control" %>
</div>


<br/>
<div class="form-group">
  <%= form.submit "Save property", class: "btn btn-block btn-success" %>
</div>
<% end %>

