<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><%= @post.title %></h1>
            <p class="text-muted pl-2"><em>Posts <%= time_ago_in_words @post.created_at %></em></p>
        </div>
    </div>
</main>

<div class="container">
    <div class="row">
        <div class="col-6">
            <%= image_tag @post.image, class: "style_image d-block w-50 h-auto" if @post.image.present? %>
            <%= simple_format @post.body %>
            <p><%= link_to "View latest blog posts", blog_path %></p>
        </div>
    </div>
</div>
